.title {
    color: #000000;
    padding: 0.5em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
    text-align: center;
}

.menu {
    width: 300px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin: 0 auto;
}

section#sidebar {
    padding: 2.5em 2.5em 0.5em 2.5em;
    background-color: rgb(20, 3, 68);
    height: 100vh;
    position: fixed;
    text-align: right;
    width: 18em;
    z-index: 1;
}

.menu li {
    width: 33%;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li a {
    width: auto;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    text-shadow:0 -1px 0px #333,0 1px 0px #555;
    display: block;
    background: #666;
    background-image: -moz-linear-gradient(top, #888 0%, #777 50%, #666 50%, #777 100%);
}

.menu li a:hover {
    background: #555;
    background-image: -moz-linear-gradient(top, #555 0%, #444 50%, #333 50%, #444 100%);
}

.menu li:first-child a {
    border-radius: 5px 0 0 5px;
}

.menu li:last-child a {
    border-radius: 0 5px 5px 0;
}
