.title {
    color: #000000;
    padding: 0.5em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
    text-align: center;
}

.nav {
    color: rgb(255, 201, 8);
    padding: 0.5em 0;
    text-align: center;
}
